h1 {color: #F00;}

.over {
  position: relative;
  z-index: 999;
}
.under {
  position: relative;
  z-index: 1;
}
.fade-in-section {
  opacity: 0;
  transform: translateY(15vh);
  visibility: hidden;
  transition: opacity 1200ms ease-out, transform 1200ms ease-out,
    visibility 1200ms ease-out;
  will-change: opacity, transform, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.full-width {
  position: relative;
  width: calc(100vw - 19rem);
  left: -7.5rem;
  padding: 0 9.5rem;
  float: left;
}

.footer {
  width: 100vw;
  position: absolute;
  bottom: 0;
  background-color: #ff9212;
  height: 5rem;
  padding: 1rem 0
}

.page {
  width: 100%;
  height: 100%;
  min-height: 4.5em;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5em;
  // padding: 0 2em;
  z-index: 15000;
}

.wrapper {
    position: relative;
    overflow: hidden;
    width: auto;
    height: 90vh;
    // border: 1px solid black;
}

#slide {
    position: absolute;
    right: -800px;
    width: auto;
    height: 90vh;
    // background: blue;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 2s;
}

@-webkit-keyframes slide {
    100% { right: 0; }
}

@keyframes slide {
    100% { right: 0; }
}



header {
  padding: 1rem 0;
  background-color: #ffffff;
  .columns {
    text-align: center;
  }
  h4 {
    margin-bottom: 0;
    .link {
      text-decoration: none;
      font-family: 'The Bold Font';
      cursor: pointer;
    }
  }
  .small .link {
    color: #ff9000;
    font-size: 2.4rem;
    padding-top: 0.5rem;
  }
  .large .link {
    color: #46cc34;
    font-size: 3rem;
  }
}

.hero {
  width: 100%;
  height: 90vh;
  .five {
    margin-top: 18%;
  }
}
.heroImage {
  height: 90vh;
}
.fitzfolio {
  // width: 100vw;
  background-color: #fff200;
  // padding: 0 2rem;
  // float: left;
}

.home-port {
  margin: 2rem 0;
  padding-bottom: 5rem;
  img {
    width: 100%;
  }
}
